argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
cffi==1.17.1
construct==2.10.70
evdev==1.9.1
lxml==5.3.1
maskpass==0.3.7
pycparser==2.22
pycryptodomex==3.22.0
pykeepass==4.1.1.post1
pynput==1.8.1
pyotp==2.9.0
python-xlib==0.33
six==1.17.0
